@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<FirstPro.Models.Entities.Student>
<h1>All Students</h1>
<table class="table">
    <thead>
       <tr>
           <th>Name</th>
           <th>Email</th>
            <th>Phone</th>
           <th> </th>
       </tr>
    </thead>
    <tbody>
       @foreach(var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="EditStudentInfo" asp-route-id="@student.Id">Edit</a>
                </td>
                <td>
                    <form method="post" asp-action="DeleteStudent" asp-controller="Student" asp-route-id="@student.Id">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>





